@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@1');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700');

* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;  
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

#root {
  position: fixed;
  width: 100%;
  height: 100vh;
}
